body {
    background-color: #43598e;
    font: normal 15pt Arial;
    
}

header {
    color: azure;
    text-align: center;
}

section {
    background-color: #43598e;
    color: azure;
    border-radius:  18px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:  6px 6px 22px #374974,
                -6px -6px 22px #4f69a8;
    
}

footer {
    color: azure;
    text-align: center;
    font-style: italic;
}
